<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Receipt</title>

    <!-- Normalize or reset CSS with your favorite library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

    <!-- Load paper.css for happy printing -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.css">
    <script src="js/money.js"></script>
    <script src="js/qrious.min.js"></script>
    <!-- Set page size here: A5, A4 or A3 -->
    <!-- Set also "landscape" if you need -->
    <style>
        @page {
            size: A4
        }
    </style>

    <!-- Custom styles for this document -->
    <style>
        .main {
            width: 100%;
            height: 100%;
        }

        .bot,
        .top {

            width: 110%;
            height: 50%;
            margin-left: -5%;
        }

        .top {
            margin-top: -10%;
            height: 60%;
        }

        .left,
        .right {
            width: 50%;
            height: 30%;
            position: relative;
            display: block;
        }

        .logo table {
            width: 100%;
            height: 100%;
        }

        .dot_border {
            border-bottom: dotted 1px;
        }

        .hoadontiem,
        .hoadontheomon {
            width: 48%;
            height: 100%;
            float: left;
            word-break: break-all;
        }

        .hoadontiem {
            border-right: 1px solid black;
        }

        .hoadontheomon {
            margin-left: 1%;
        }

        .text-center {
            text-align: center;
        }

        #date_end {
            border-bottom: dotted 1px;
        }

        .pic_img {
            float: right;
            width: 120px;
            height: 120px;
        }

        .pic_img_first {
            width: 100px;
            height: 100px;
        }
    </style>
</head>

<!-- Set "A5", "A4" or "A3" for class name -->
<!-- Set also "landscape" if you need -->

<body class="A4">

    <!-- Each sheet element should have the class "sheet" -->
    <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
    <section class="sheet padding-20mm">

        <div class="main">

            <div class="top">
                <div class="header">
                    <div class="logo">
                        <table>
                            <tr>
                                <td>
                                    <div>

                                        <div style="text-align: left;font-size:0.8em">DỊCH VỤ CẦM ĐỒ & ĐIỆN THOẠI & MUA
                                            BÁN XE ĐIỆN
                                        </div>
                                        <div style="text-align: center;font-size: 1.3em;font-weight: bold;"><span
                                                id="name"></span>
                                        </div>
                                        <div style="font-size:0.7em">GIẤY
                                            CNDKKD SỐ <span id="dkkd"></span></div>
                                        <div style="font-size:0.7em"> ĐC : <span id="address"></span> </span></br>Số
                                            Điện Thoại : <span id="phone"></span><br />Website :
                                            <span id="website"></span</div> </div> </td> <td>
                                                <div style="text-align: center;font-size:0.7em;margin-top:-16%">CỘNG HÒA
                                                    XÃ HỘI CHỦ
                                                    NGHĨA VIỆT NAM<br />ĐỘC LẬP TỰ DO HẠNH PHÚC<br />---000---</div>
                                                <div><img
                                                        style="width: 90px;height:90px;margin-left: 12%;position: absolute;"
                                                        class="pawn_qrcode">
                                            </span>
                                            <div
                                                style="position: absolute; font-size:0.7em;margin-top:5%;transform: rotate(90deg);margin-left:21%">
                                                MÃ SỐ : <span class="pawn_code"></span></div>
                                            <div
                                                style="position: absolute; font-size:0.7em;margin-top:5%;transform: rotate(90deg);margin-left:21%">
                                                Liên 1 - Giao Khách</div>
                                </td>
                            </tr>
                        </table>
                        <div>
                            <h3 style="text-align: center;padding-top:3%">HỢP ĐỒNG CHO VAY THẾ CHẤP</h3>
                            <div style="text-align: right;margin-top:-3%">Ninh Thuận, Ngày <span id="page_date"></span>
                            </div>
                            <table border="0" style="width:90%;margin-left:5%;font-size: 0.7em;">
                                <tr>
                                    <td style="width: 30%;">
                                        Họ và tên người vay
                                    </td>
                                    <td class="dot_border" colspan="3">:<span class="pawn_name"></span> </td>
                                </tr>
                                <tr id="cmnd_table">
                                    <td style="width: 30%;">
                                        CMND Số :
                                    <td class="dot_border">:<span id="pawn_cmnd"></span></td>

                                    <td>Ngày Cấp</td>
                                    <td class="dot_border">:<span id="pawn_cmnd_date"></span></td>
                                </tr>
                                <tr>
                                    <td>Ngày Vay</td>
                                    <td class="dot_border"><span class="pawn_date"></span></td>
                                    <td>Ngày tới hạn đóng lãi</td>
                                    <td class="dot_border"><span id="date_end_count"></span></td>
                                </tr>
                                <tr>
                                    <td>Số Tiền :</td>
                                    <td class="dot_border "><span class="pawn_money"></span> vnđ</td>
                                    <td>(Bằng chữ)</td>
                                    <td class="dot_border"><span class="pawn_money_str"></span></td>
                                </tr>
                                <tr>
                                    <td>Thông tin món đồ</td>
                                    <td class="dot_border" colspan="3" style="column-count: auto;">
                                        <div class="pawn_taisan"></div>

                                    </td>
                                </tr>
                            </table>

                            <div info="" style="word-wrap: break-word;;font-size: 0.8em;padding:3%">
                                <div style="width:80%;float:left">
                                    Lãi suất : <span class="dot_border pawn_laisuat"></span>%<br>
                                    Thời gian : <span class="dot_border"><span id="month_end"></span> tháng kể từ ngày
                                        cầm</span><br>
                                    Quý Khách cam kết tài sản thế chấp là thuộc quyền sở hữu của chính mình. Nếu sai cam
                                    kết
                                    quý khách phải chịu trách nhiệm trước pháp luật. Quá <span id="date_end"></span>
                                    ngày kể
                                    từ ngày đáo hạn Quý
                                    khách không đến chuộc hoặc đóng lãi Chúng tôi sẽ đơn phương hủy hợp đồng và thanh lý
                                    tài
                                    sản thế chấm để bảo toàn vốn. Trường hợp tài sản rủi ro ngoài ý muốn dịch vụ sẽ bồi
                                    thường 50% theo số tiền cầm.Xin Miễn khiếu nại (Mất biên lai để kẻ xấu lợi dụng
                                    chúng
                                    tôi không chịu trách nhiệm với tài sản thế chấp). Hợp đồng được lập dựa trên sự đồng
                                    ý
                                    của 2 bên.<br>Xin Cảm ơn quý khách rất nhiều.
                                </div>
                                <div style="float: right;width:18%">
                                    <center><span class="pawn_taisan_pic"></span><span
                                            style="text-decoration: underline;">Ảnh tài sản</span></center>
                                </div>
                            </div>
                            <table>
                                <tr style="text-align: center;;">
                                    <td>NGƯỜI VAY <br />
                                        <span id="pawn_name_signal"
                                            style="font-style: italic;font-weight: bold;"></span>
                                    </td>
                                    <td>DỊCH VỤ
                                        <br><span id="signal" style="font-style: italic;font-weight: bold;"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="text"></div>
                </div>
            </div>
            <div class="bot">
                <hr style="width:150%;margin-left:-30%">
                <div class="hoadontiem">
                    <h4>Liên 3 - Đồ theo xe</h4>
                    <table style="width: 105%;margin-left: -10%;">
                        <tr>
                            <td>
                                <div style="font-weight: bold;">DỊCH VỤ GBIKE</div>
                            </td>
                            <td class="text-center dot_border">Ngày <span class="pawn_date"></span></td>
                        </tr>
                        <tr>
                            <td>Mã hóa đơn :</td>
                            <td class="text-center dot_border"><span class="pawn_code"></span></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <img class="pawn_qrcode" style="float:left;width:120px;height:120px">
                                <span class="pawn_taisan_pic"></span>
                            </td>

                        </tr>
                        <tr>
                            <td>Tên</td>
                            <td class="text-center dot_border"><span class="pawn_name"></span></td>
                        </tr>
                        <tr>
                            <td>Sdt</td>
                            <td class="text-center dot_border">0329984983</td>
                        </tr>
                        <tr>
                            <td>Số tiền</td>
                            <td class="text-center dot_border"><span class="pawn_money"></span></td>
                        </tr>
                        <tr>
                            <td>Thông tin món đồ</td>
                            <td class="text-center dot_border" style="word-break: break-all;font-size: 0.8em;">
                                <div style="width: 100%;text-align: left" class="pawn_taisan">

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Nhân viên :</td>
                            <td class="dot_border"><span class="pawn_nhanvien"></span></td>
                        </tr>
                        <tr>
                            <td>Vị trí Lưu:</td>
                            <td class="dot_border"><span class="pawn_vitriluu"></span> </td>
                        </tr>

                    </table>

                </div>
                <div class="hoadontheomon">
                    <h4>Liên 2 - tiệm giữ - kiêm phiếu xuất kho</h4>
                    <table border="0" style="width: 100%;">
                        <tr>
                            <td>
                                <div style="font-weight: bold;">DỊCH VỤ GBIKE</div>
                            </td>
                            <td class="text-center dot_border">Ngày <span class="pawn_date"></span></td>
                        </tr>
                        <tr>
                            <td>Mã hóa đơn :</td>
                            <td class="text-center dot_border"><span class="pawn_code"></span></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <img style="float:left;width:120px;height:120px" class="pawn_qrcode">
                                <div class="pawn_taisan_pic"></div>
                            </td>

                        </tr>
                        <tr>
                            <td>Tên</td>
                            <td class="text-center dot_border"><span class="pawn_name"></span></td>
                        </tr>
                        <tr>
                            <td>Sdt</td>
                            <td class="text-center dot_border">0329984983</td>
                        </tr>
                        <tr>
                            <td>Số tiền</td>
                            <td class="text-center dot_border"><span class="pawn_money"></span></td>
                        </tr>
                        <tr>
                            <td>Thông tin món đồ</td>
                            <td class="text-center dot_border" style="word-break: break-all;font-size: 0.8em;">
                                <div style="width: 100%;text-align: left" class="pawn_taisan">

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Nhân viên :</td>
                            <td class="dot_border"> <span class="pawn_nhanvien"></span></td>
                        </tr>
                        <tr>
                            <td>Vị trí Lưu:</td>
                            <td class="dot_border"><span class="pawn_vitriluu"></span> </td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
    </section>

</body>
<script>
    pageInfo = {
        address: "51 trần thi, phước dân, ninh phước ninh thuận, đầu chợ Phú Quý",
        website: "192.168.31.1/",
        phone: "0259.3865.247",
        signal: "Nguyễn thị thanh thi",
        name: "GBIKE BẢO THI",
        month_end: "3",
        dkkd: "12121212",
        date_end: "15"
    };
    detailInfo = {

        id: '<%= id %>',
        name: "<%= name %>",
        cmnd: "<%= cmnd %>",
        cmndDate: "<%= cmnd_date %>",
        taisan: {
            "0": {
                name: "<%= item_name %>",
                color: "<%= item_color %>",
                picture: "url",
                cavet: "<%= cavet %>",
                status: "<%= item_tinhtrang %>",
                urlPic: "<%= url %>"
            }
        },
        money: "<%= money %>",
        date: "<%= date_p %>",
        laixuat: "<%= laixuat %>",
        nhanvien: "<%= sale %>",
        kho: "Kho 1",
        tongtaisan: "1 xe exciter + 1 cavet + 1cmnd + 1 điện thoại",
        item: "<%= item %>"

    }
    function init() {
        //init page info

        document.querySelector("#address").innerHTML = pageInfo.address;
        document.querySelector("#website").innerHTML = pageInfo.website;
        document.querySelector("#phone").innerHTML = pageInfo.phone;
        document.querySelector("#signal").innerHTML = pageInfo.signal;
        document.querySelector("#name").innerHTML = pageInfo.name;
        document.querySelector("#month_end").innerHTML = pageInfo.month_end;
        document.querySelector("#dkkd").innerHTML = pageInfo.dkkd;
        document.querySelector("#date_end").innerHTML = pageInfo.date_end;
        //calc date_end_count
        _date = detailInfo.date.split('/');
        var date = new Date(_date[2], _date[1], _date[0]);
        date.setMonth(date.getMonth() + parseInt(pageInfo.month_end))
        date_end_count = getDayFormat(date)
        document.querySelector("#date_end_count").innerHTML = date_end_count;
        //init pawn info
        if (detailInfo.cmnd == "") {
            document.querySelector("#cmnd_table").remove();
        } else {
            document.querySelector("#pawn_cmnd").innerHTML = detailInfo.cmnd;
            document.querySelector("#pawn_cmnd_date").innerHTML = detailInfo.cmndDate;
        }

        document.querySelector("#page_date").innerHTML = detailInfo.date;
        document.querySelector("#pawn_name_signal").innerHTML = detailInfo.name;
        document.querySelector('.pawn_laisuat').innerHTML = detailInfo.laixuat;

        allSelect('.pawn_code', detailInfo.id);
        allSelect('.pawn_vitriluu', detailInfo.kho);
        allSelect('.pawn_name', detailInfo.name)
        allSelect('.pawn_money', detailInfo.money)
        allSelect('.pawn_date', detailInfo.date)
        allSelect('.pawn_nhanvien', detailInfo.nhanvien)
        allSelect('.pawn_taisan', getPawnDetail(detailInfo.taisan))
        allSelect('.pawn_taisan_pic', getPawnDetail_img(detailInfo.taisan))
        document.querySelector(".pic_img:first-of-type").setAttribute("class", "pic_img_first")
        //doc tien
        moneyStr = DOCSO.doc((detailInfo.money).toString().replace(/,/g, '')) + " đồng";
        allSelect('.pawn_money_str', moneyStr);
        _str = pageInfo.website + "readqr?id=" + detailInfo.id;
        imgBase64 = (makeQRCode(_str))
        allSelectQR('.pawn_qrcode', imgBase64);

    }

    function makeQRCode(v) {
        var qr = new QRious({
            value: v,
            size: 120
        });
        str = qr.toDataURL();
        console.log(str)
        return str;
    }
    function getDayFormat(date) {
        var today = date;
        var dd = today.getDate();
        var mm = today.getMonth(); //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = dd + '/' + mm + '/' + yyyy;
        return today;
    }
    function getPawnDetail(detail) {
        str = "";

        switch (detailInfo.item) {
            case "xemay": {
                for (i in detail) {
                    str += "Xe : "+detail[i].name + "<br/>";
                    str += "Biển số :" + detail[i].cavet + "<br/>";
                    str += "Màu :" + detail[i].color + "<br/>";
                }
            } break;
            case "xedien": {
                for (i in detail) {
                    str += "Xe :"+detail[i].name + "<br/>";
                    str += "Màu :" + detail[i].color + "<br/>";
                }
            } break;
            case "dienthoai": {
                for (i in detail) {
                    str += "Điện thoại :"+detail[i].name + "<br/>";
                    str += "Màu :" + detail[i].color + "<br/>";
                }
            }break;
            case "khac": {
               
                for (i in detail) {
                    str += detail[i].name + "<br/>";
                    str += "Màu :" + detail[i].color + "<br/>";
                }
            } break;
        }

        return str;
    }
    function getPawnDetail_img(detail) {
        str = "";
        for (i in detail) {
            str += "<img class='pic_img' src='" + detail[i].urlPic + "' />";
        }
        return str;
    }


    function allSelect(select, text) {
        a = document.querySelectorAll(select);
        for (i = 0; i < a.length; i++) {
            a[i].innerHTML = text;
        }
    }
    function allSelectQR(select, text) {
        a = document.querySelectorAll(select);
        for (i = 0; i < a.length; i++) {
            a[i].src = text;
        }
    }
    function GetURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }
    init();
</script>

</html>